<div class="row">
  <div style="width: 100%">
    <div class="content landing">
      <div class="span7" style="width:65%; margin-left: 0px; margin-right: 0px; padding-right:0px;">
        {{ content }}
      </div>
      <div class="span4 divbox" style="width=35%; float: right; margin-left: 0px; margin-right: 0px;padding-right:10px; color:#F7F7F9;">
	  
      {% include custom/qq %} 
	  
      <h1 id="start-now" style="margin-left: 0px; font-size: 22px; ">欢迎来到流云似水</h1>
	  
      {% include custom/searchbox %} 
	  
      <div style="width: 100%; float: right; margin-left: 0px; margin-right: 0px;">
      {% include custom/weibo %}
      </div>
      <div id="mc_embed_signup" style="width: 100%; float: right; margin-left: 0px; margin-right: 0px;">
        <ul id="tab-list" class="nav nav-pills">
          <li><a href="archive.html">文章存档</a></li>
          <li><a href="categories.html">博文分类</a></li>
          <li><a href="tags.html">我的标签</a></li>
          <!--<li><a href="pages.html">浏览页面</a></li>-->
        </ul>
        <div id="tab-content-wrapper">
          <div>
            {% assign posts_collate = site.posts %}
            {% include custom/posts_collate %}
          </div>
          
          <div>
            <ul class="tag_box inline">
              {% assign categories_list = site.categories %}
              {% include JB/categories_list %}
            </ul>

            {% for category in site.categories %} 
            <h2 id="{{ category[0] }}-ref" style="margin-bottom: 0">{{ category[0] | join: "/" }}</h2>
            <ul>
              {% assign pages_list = category[1] %}  
              {% include JB/pages_list %}
            </ul>
            {% endfor %}
          </div>

          <div>
            <ul class="tag_box inline">
              {% assign tags_list = site.tags %}  
              {% include JB/tags_list %}
            </ul>

            {% for tag in site.tags %} 
            <h2 id="{{ tag[0] }}-ref" style="margin-bottom: 0">{{ tag[0] }}</h2>
            <ul>
              {% assign pages_list = tag[1] %}  
              {% include JB/pages_list %}
            </ul>
            {% endfor %}
          </div>

        </div>
      </div>

	  {% include custom/friend %}

      </div>     
    </div>  
  </div>
</div>