<div class="row">
  <div class="span9" style="width: 85%; margin-left: 90px;">
    <div class="content post">
      <h1 class="title">{{ page.title }}</h1>
      {{ page.description }}
      {{ content }}
    {% if page.next and page.categories == page.next.categories %}
      <hr>
      <div style="text-align:center">
        <a href="{{ BASE_PATH }}{{ page.next.url }}" class="btn btn-success btn-large">下一篇: {{ page.next.title }} &rarr;</a>
      </div>
    {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>