{% if page.categories contains "reading" %}

<div id="sidebar" class="sidebar">
  <h4>读书</h4>
  <ul>
    {% assign pages_list = site.categories.reading %}  
    {% include custom/pages_list_reversed %}
  </ul>
  
</div>

{% elsif page.categories contains "develop" %}

<div id="sidebar" class="sidebar">
  <h4>开发技术</h4>
  <ul>
    {% assign pages_list = site.categories.develop %}
    {% include custom/pages_list_reversed %}
  </ul>

</div>

{% elsif page.categories contains "learning" %}

<div id="sidebar" class="sidebar">
  <h4>学习笔记</h4>
  <ul>
    {% assign pages_list = site.categories.learning %}
    {% include custom/pages_list_reversed %}
  </ul>
</div>

{% elsif page.categories contains "linux" %}

<div id="sidebar" class="sidebar">
  <h4>Linux</h4>
  <ul>
    {% assign pages_list = site.categories.linux %}
    {% include custom/pages_list_reversed %}
  </ul>
</div>

{% elsif page.categories contains "life" %}

<div id="sidebar" class="sidebar">
  <h4>生活</h4>
  <ul>
    {% assign pages_list = site.categories.life %}
    {% include custom/pages_list_reversed %}
  </ul>   
</div>


{% endif %}